

.header{
    display: flex;
    /* justify-content: space-betwee; */
    align-items: center;
    background-color: rgb(45, 44, 44);
    height: 30px;
    color: white;
}


.but-links{
    padding: 7px;
    border: none;
    background-color: rgb(45, 44, 44);
    color: white;
}


.but-links:hover{
    cursor: pointer;
    color: rgb(225, 215, 215);
}